header.header {
    background: url('../img/background-spider.jpg') center;

    margin: 0;
    padding: 0;

    position: relative;
    
    color: #ffffff;
}
header.header::before {
    content: '';
    
    width: 100%;
    height: 100%;
    
    background-color: #000;
    opacity: 0.8;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.header .headline {
    width: 100%;
    height: 100px;

    position: relative;
    z-index: 10;
    
    margin: 0 auto;
    padding: 48px;
}

.header > .headline > h1 {
    font-size: 2rem;
}

.header > .headline > h3 {
    font-size: 1.125rem;
}